@import '../../palette.scss';
.ProgramList {
  &__item {
    color: #fff;
    font-family: Montserrat;
    margin: 50px;
    padding-left:30px;
    text-transform: uppercase;
  }
  &__location {
    font-size: calc(.5em + 2vw);
    font-weight: 900;
  }
  &__country {
    font-size: calc(.5em + 2vw);
    font-weight: 900;
  }
  &__date {
    font-size: calc(.5em + 1vw);
    font-weight: 900;
  }
}
.is-active {
  border-left: 5px solid $color3;
}
