@import '../../media_mixins.scss';
@import '../../palette.scss';

@import '../../reset_module.scss';

.TeamPage {
  overflow: hidden;
}

.aside__logo-container {
  margin: 0 15px;
}

.block {
  display: flex;
  width: 100%;
}
.aside {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  background-color: $main-black;
}
.TeamPage__wrapper {
  flex-grow: 1;
}

.Team__list {
  display: flex;
  width: 100%;
  position: relative;

  @include phone {
    flex-direction: column;
  }

  // &:hover {
  // width: 40%;
  // }
}