.Team__list {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.Team__member {
  opacity: 0;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.Team__member--delay-0 {
  -webkit-animation-name: menu2;
  animation-name: menu2;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-delay: -150ms;
  animation-delay: 0ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.Team__member--delay-1 {
  -webkit-animation-name: menu2;
  animation-name: menu2;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-delay: 0ms;
  animation-delay: 150ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.Team__member--delay-2 {
  -webkit-animation-name: menu2;
  animation-name: menu2;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-delay: 150ms;
  animation-delay: 300ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.Team__member--delay-3 {
  -webkit-animation-name: menu2;
  animation-name: menu2;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-delay: 300ms;
  animation-delay: 450ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.Team__member--delay-4 {
  -webkit-animation-name: menu2;
  animation-name: menu2;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-delay: 450ms;
  animation-delay: 600ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.Team__member--delay-5 {
  -webkit-animation-name: menu2;
  animation-name: menu2;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-delay: 600ms;
  animation-delay: 750ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes menu2 {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  60% {
    -webkit-transform: rotateY(50deg);
    transform: rotateY(50deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes menu2 {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  60% {
    -webkit-transform: rotateY(50deg);
    transform: rotateY(50deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
