$deg-start: -90deg;
$deg-mid: 50deg;
$deg-end: 0deg;

.Team__list {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.Team__member {
  opacity: 0;
  transform-origin: left center;
  
  animation-name: team_member;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.Team__member--delay-0 {
  animation-duration: 300ms;
  animation-delay: 0ms;
}
.Team__member--delay-1 {
  animation-duration: 300ms;
  animation-delay: 150ms;
}
.Team__member--delay-2 {
  animation-duration: 300ms;
  animation-delay: 300ms;
}
.Team__member--delay-3 {
  animation-duration: 300ms;
  animation-delay: 450ms;
}
.Team__member--delay-4 {
  animation-duration: 300ms;
  animation-delay: 600ms;
}
.Team__member--delay-5 {
  animation-duration: 300ms;
  animation-delay: 750ms;
}
@keyframes team_member {
  0% {
    opacity: 0;
    transform: rotateY($deg-start);
  }
  60% {
    transform: rotateY($deg-mid);
  }
  100% {
    opacity: 1;
    transform: rotateY($deg-end);
  }
}