@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  background: black;
}

.vblock {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 140px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-around;
    margin: auto 0;
  }
}