@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.SideMenuContainer {
  display: flex;
  font-family: 'Montserrat', sans-serif;

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-around;
  }
}