@import '../../palette.scss';

.Burger {
  display: grid;
  align-content: space-between;
  width: 20%;
  cursor: pointer;
  &:hover > .Burger__controller {
    background-color: rgba(252, 72, 24, 1);
  }
}

.Burger__controller {
  height: 3px;
  width: 100%;
  background-color: $color2;
}
