@import '../../palette.scss';
@import '../../media_mixins.scss';

.Burger {
  position: relative;
  width: 30px;
  cursor: pointer;

  &__controller {
    position: relative;
    height: 2px;
    width: 100%;
    background-color: $main-white;
  }
  &:hover > .Burger__controller {
    background-color: $main-orangered;
  }
  @include hugescreen {
    width: 50px;
  }
}

.is-close {
  &:first-child {
    position: absolute;
    top: 5px;
    left: 0;
    transition: 0.5s;
    transform: rotate(0);
  }
  &:last-child {
    position: absolute;
    top: 15px;
    left: 0;
    transition: 0.5s;
    transform: rotate(0);
  }
}

.is-open {
  &:first-child {
    position: absolute;
    top: 10px;
    left: -2px;
    transition: 0.5s;
    transform: rotate(45deg);
    background-color: $main-orangered;
  }
  &:last-child {
    position: absolute;
    top: 10px;
    left: -2px;
    transition: 1s;
    transform: rotate(-45deg);
    background-color: $main-orangered;
  }
}
