@import '../../palette.scss';

.Burger {
  display: grid;
  align-content: space-around;
  width: 20%;
  cursor: pointer;
  &:hover > .Burger__controller {
    background-color: $color3;
  }

  .Burger__controller {
    height: 2px;
    width: 100%;
    background-color: $color2;
  }
}


