.CustomMember4 {
  background-image: url(https://media.giphy.com/media/6wpHEQNjkd74Q/giphy.gif);

  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.CustomMember4__name {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}
