@import '../../palette.scss';
@import '../../reset_module.scss';

body {
  background-color: $main-black;
}

.MemberPage {
  height: calc(100vh - 100px);
  margin: 50px;
  background-image: url('../../assets/images/malcolm_young.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  &__wrapper {
    width: 60%;
    padding: 70px 0 0 150px;
    color: $main-white;
    &__image {
      position: absolute;
      top: 0;
      right: 65px;
      width: 500px;
    }
    &__title {
      font-size: 4rem;
      font-weight: 700;
      color: $main-white;
      text-transform: uppercase;
    }
    &__subtitle {
      padding-bottom: 40px;
      font-size: 1.5rem;
      font-weight: 500;
      color: $main-orangered;
      text-transform: uppercase;
    }
    &__description {
      padding-bottom: 30px;
    }
  }
}

// .MemberPage__copyright-wrapper {
//   // position: fixed;

//   // bottom: 50px;
//   // right: 50px;
// }
