@import '../../palette.scss';
@import '../../reset_module.scss';

body {
  background-color: $main-black;
}

.MemberPage {
  height: 100vh;
  min-height: 100vh;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;

  &--0 {
    background-image: url('../../assets/images/brian_jonson.jpg');
  }
  &--1 {
    background-image: url('../../assets/images/malcolm_young.jpg');
  }
  &--2 {
    background-image: url('../../assets/images/angus_young_.jpg');
  }
  &--3 {
    background-image: url('../../assets/images/axl_rose.jpg');
  }
  &--4 {
    background-image: url('../../assets/images/drummer_lady.png');
  }

  &__wrapper {
    width: 80%;
    padding: 15% 0 0 20%;
    color: $main-white;
  }
  &__image {
    position: absolute;
    top: 0;
    right: 65px;
    width: 500px;
  }

  &__title {
    font-size: 4rem;
    font-weight: 700;
    color: $main-white;
    text-transform: uppercase;
  }

  &__subtitle {
    padding-bottom: 40px;
    font-size: 1.5rem;
    font-weight: 500;
    color: $main-orangered;
    text-transform: uppercase;
  }

  &__description {
    padding-bottom: 30px;
  }

  &__copyright-wrapper {
    margin: 50px 0;
  }
  &__label {
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;
    &:hover {
      color: $main-orangered;
    }
    &:after {
      content: '';
      position: absolute;
      right: -25px;
      top: 0;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: $main-orangered;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      right: -45px;
      width: 40px;
      height: 20px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      background-color: $main-white;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
    }
  }
}
