@import '../../palette.scss';
@import '../../reset_module.scss';
@import '../../media_mixins.scss';

body {
  background-color: $main-black;
}

.MemberPage {
  height: 100vh;
  min-height: 100vh;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  transition: 1s ease-in-out;

  &__wrapper {
    width: 80%;
    padding: 15% 0 0 20%;
    color: $main-white;

    @include phone {
      width: 100%;
    }
  }

  &__name {
    font-size: 4rem;
    font-weight: 700;
    color: $main-white;
    text-transform: uppercase;
  }

  &__info {
    padding-bottom: 40px;
    font-size: 1.5rem;
    font-weight: 500;

    @include phone {
      display: flex;
      flex-direction: column;
    }
  }

  &__instrument {
    color: $main-silver;
    text-transform: uppercase;
  }

  &__description {
    padding-bottom: 30px;
  }

  &__copyright-wrapper {
    margin: 50px 0;
  }

  &__contacts {
    @include phone {
      display: flex;
      flex-direction: column;
    }
  }
}