@import '../../palette.scss';

.TourMap {
  width: 100%;

  &__inner {
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }

  &__title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $color2;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: rgba(252, 72, 24, 1);
    }
  }

}
