@import '../../media_mixins.scss';

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  
  @include phone {
    height: -webkit-fill-available;
  }
}

.Content__item--sidemenu {
  position: fixed;
  margin: 0 50px;
}

.Content__item--margined {
  margin: 50px;
}
