@import '../../palette.scss';

.SideMenuElement {
  align-items: center;
  display: flex;
  justify-content: center;
}

.SideMenuElement__link {
  color: $main-white;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  transform: rotate(270deg);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: $main-gold;
    transform: scaleY(0);
    transition: transform 0.5s ease;
  }
  &::before {
    left: -10px;
    transform-origin: center top;
  }
  &:hover::before {
    transform-origin: center bottom;
    transform: scaleY(1);
  }
  &::after {
    right: -10px;
    transform-origin: center bottom;
  }
  &:hover::after {
    transform-origin: center top;
    transform: scaleY(1);
  }
  &:hover {
    color: $main-gold;
  }
}
.isActive {
  color: $main-orangered;
}
