@import '../../palette.scss';

.SideMenuElement {
  align-items: center;
  display: flex;
  justify-content: center;
}

.SideMenuElement__link {
  color: $color2;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  transform: rotate(270deg);
}