@import './style.utils/positionsSizes';
@import './style.utils/flexes';

@import '../../palette.scss';

.VideoContainer {
  // position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
}

.slider {
  @include full-screen;
  position: absolute;
  @include center;


  &__video {
    position: absolute;
    min-width: 100%;
    min-height: auto;
    object-fit: cover;
  }
}
