@import './style.utils/positionsSizes';
@import './style.utils/flexes';

@import '../../palette.scss';

.VideoContainer {
  // position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
}

.slider {
  @include full-screen;
  position: absolute;
  @include center;

  .next,
  .prev {
    background-color: transparent;
    border: none;
    top: calc(50% - 20px);
    position: absolute;
    color: $color2;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    z-index: 2;
  }

  .next {
    right: 10px;
  }

  .prev {
    left: 10px;
  }

  &__video {
    position: absolute;
    min-width: 100%;
    min-height: auto;
    object-fit: cover;
  }
}
