@import '../../palette.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.SongInfoElement {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  margin-right: 60px;
}

.SongInfoElement__title {
  color: $color1;
  display: flex;
  justify-content: flex-end;
}

.SongInfoElement__name {
  color: $color2;
  font-weight: bold;
  padding-left: 20px;
}