@import '../../palette.scss';

.SongInfoElement {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 60px;
}

.SongInfoElement__title {
  color: $main-silver;
  display: flex;
  justify-content: flex-end;
}

.SongInfoElement__name {
  color: $main-white;
  font-weight: bold;
  padding-left: 20px;
}