@import '../../palette.scss';
.MemberPageInput {
  -webkit-appearance: none;
  display: none;
  &:checked ~ .MemberPage .MemberPage__wrapper .MemberPage__label:before {
    background-color: #fff;
  }
  &:checked ~ .MemberPage .MemberPage__wrapper .MemberPage__label {
    &:hover {
      color: rgb(47, 229, 83);
    }
  }
  &:checked ~ .MemberPage .MemberPage__wrapper .MemberPage__label:after {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    right: -45px;
    background-color: rgb(47, 229, 83);
  }
  &:checked ~ .MemberPage--0 {
    background-color: $main-gold;
  }
}
