/* Coolors Exported Palette - coolors.co/c6c6c6-f0f0f0-fc4818-1c1c1c-d0ae81 */

/* HSL */
$color1: hsla(0%, 0%, 78%, 1);
$color2: hsla(0%, 0%, 94%, 1);
$color3: hsla(13%, 97%, 54%, 1);
$color4: hsla(0%, 0%, 11%, 1);
$color5: hsla(34%, 46%, 66%, 1);

/* RGB */
$color1: rgba(198, 198, 198, 1);
$color2: rgba(240, 240, 240, 1);
$color3: rgba(252, 72, 24, 1);
$color4: rgba(28, 28, 28, 1);
$color5: rgba(208, 174, 129, 1);
