/* Coolors Exported Palette - coolors.co/c6c6c6-f0f0f0-fc4818-1c1c1c-d0ae81 */

/* HSL */
$main-gray: hsla(0%, 0%, 78%, 1);
$main-white: hsla(0%, 0%, 94%, 1);
$main-red: hsla(13%, 97%, 54%, 1);
$main-black: hsla(0%, 0%, 11%, 1);
$main-gold: hsla(34%, 46%, 66%, 1);

/* RGB */
$main-silver: rgba(198, 198, 198, 1);
$main-white: rgba(240, 240, 240, 1);
$main-orangered: rgba(252, 72, 24, 1);
$main-black: rgba(28, 28, 28, 1);
$main-gold: rgba(208, 174, 129, 1);
