@import '../../palette.scss';
.wrapper{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  overflow: hidden;
}


.slider__assets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slider__trackname {
  font-size: 4.5rem;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: $color2;
}

.slider__button {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: $color3;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.next,
.prev {
  background-color: transparent;
  border: none;
  top: calc(50% - 20px);
  cursor: pointer;

}

//.next {
//  right: 15%;
//}
//
//.prev {
//  left: 10%;
//}
