.slider__assets {
  width: 50%;
  margin: 0 auto;
}

.slider__trackname {
  font-size: 5em;
  font-family: Monserrat;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: rgba(240, 240, 240, 1);
}
.slider__button {
  text-transform: uppercase;
  font-family: Monserrat;
  font-weight: 700;
  color: rgba(252, 72, 24, 1);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}
