@import '../../media_mixins.scss';
@import '../../palette.scss';

.MemberCard {
  width: 20%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-color: $main-black;

  @include phone {
    width: 100%;
  }

  &--0 {
    background-image: url('../../assets/images/brian_jonson.jpg');
  }
  &--1 {
    background-image: url('../../assets/images/malcolm_young.jpg');
  }
  &--2 {
    background-image: url('../../assets/images/angus_young_.jpg');
  }
  &--3 {
    background-image: url('../../assets/images/axl_rose.jpg');
  }
  &--4 {
    background-image: url('../../assets/images/drummer_lady.png');
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__name {
    font-size: 2rem;
    font-weight: 700;
    color: $main-white;

    &:hover::after {
      content: '';
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      margin: 0 auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--guitar {
      &:after {
        background-image: url('../../assets/images/guitar.svg');
      }
    }
    &--drums {
      &:after {
        background-image: url('../../assets/images/drums.svg');
      }
    }
    &--vocal {
      &:after {
        background-image: url('../../assets/images/vocal.svg');
      }
    }
  }
}